{% extends "store/layouts/main.html" %}

{% block content %}

<div class="py-3" style="background-color:#009990">
    <div class="container">
        <a class="text-white" href= {% url 'home' %}> Home / </a>
        <a class="text-white" href= {% url 'collections' %}> Collections / </a>
        <a class="text-white" href= {% url 'collectionsview' category.slug %}> {{category.name}} </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="color:#99cc00;"> {{category.name}} </h1>
            <hr>
            <div class="row" style="background-color:#F0F8FF;">
                {% for item in products %}
                    <div class="col-md-3">
                        <div class="card" style="margin-bottom:30px; margin-top:20px; margin-right:5%">
                            <a href="{% url 'productview' item.category.slug item.slug %}"> 
                                <div class="card-body">
                                    <div class="category-image">
                                        <img src="{{ item.product_image.url }}" alt="Product Image", height=200px, width=100%, style="padding:20px;"/>
                                    </div>
                                    <h4 style="text-align:center; margin-bottom:0px; font-size:13px;"> {{ item.name}} </h4>
                                    <span class="float-start">
                                        Rs.{{item.original_price | stringformat:'d' }}
                                    </span>
                                    <span class="float-end">
                                        Rs.{{item.selling_price | stringformat:'d'  }}
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}